body{
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
textarea{
    resize: none;
    width: 24rem;
    height: 35rem;
    padding: 0px;
    /* text-align: center; */
    background-color: transparent;
    font-size: 1.5rem;
    border: none;
    color: rgb(146, 0, 39);
}